{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ProGeek</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  {% for i in head%}
    <!-- Favicons -->
    <link href="{{i.title_icon.url}}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "assets/vendor/icofont/icofont.min.css"%}" rel="stylesheet">
    <link href="{%static "assets/vendor/boxicons/css/boxicons.min.css"%}" rel="stylesheet">
    <link href="{%static "assets/vendor/owl.carousel/assets/owl.carousel.min.css"%}" rel="stylesheet">
    <link href="{%static "assets/vendor/remixicon/remixicon.css"%}" rel="stylesheet">
    <link href="{%static "assets/vendor/venobox/venobox.css"%}" rel="stylesheet">
    <link href="{%static "assets/vendor/aos/aos.css"%}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{%static "assets/css/style.css"%}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

    </style>

  </head>
  <body>

    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-10 d-flex align-items-center">

            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo mr-auto"><img class="lg"src="{{i.logo.url}}" alt=""></a>

            <nav class="nav-menu d-none d-lg-block">
              <ul>
                <li><a href="/">Home</a></li>

                <li class="drop-down"><a href=""> Digital Transformation</a>
                  <ul>
                    <li><a href="/big-data">Big Data</a></li>
                    <li><a href="/data-sciences">Data Sciences & Analytics</a></li>
                    <li><a href="/social-media">Social Media Services</a></li>
                    <li><a href="/automations">Automation Anywhere</a></li>
                    <li><a href="/cloud"> Cloud Services</a></li>
                    <li><a href="/mobility">Mobility Services</a></li>
                    <li><a href="/robotics">Robotic Process Automation</a></li>
                  </ul>
                </li>


                <li class="drop-down"><a href="/it-outsourcing">IT Outsourcing</a>
                  <ul>
                    <li><a href="/it-outsourcing">Applications Services</a></li>

                    <li><a href="/ims">Infrastructure Management Services</a></li>
                    <li><a href="/testing">Testing Services</a></li>
                    <li><a href="/managed">managed Services</a></li>
                      <li><a href="/enterprise">Enterprise Modernization</a></li>
                        <li><a href="/captive">Captive Insourcing</a></li>
                          <li><a href="/strategic">Strategic Consulting </a></li>
                            <li><a href="/outsourced">Outsourced Product Development </a></li>
                              <li><a href="/system">System Integration </a></li>
                              <li><a href="/enterprise-solution">Enterprise Solutions </a></li>
                  </ul>
                </li>
                <li class="drop-down"><a href="">Technology</a>
                  <ul>
                    <li><a href="/IBM-solution">IBM</a></li>
                    <li><a href="/MS-solutions">Microsoft Solution</a></li>
                  </ul>
                </li>
                <li class="drop-down"><a href="">Training</a>
                  <ul>
                    <li><a href="https://www.thinqtechnoacademy.com/">Resources</a></li>
                    <li><a href="/user">Live</a></li>

                  </ul>
                </li>
                <li><a href="/#about">About</a></li>



    <li><a href="/search"><i class="fa fa-search"></i></a></li>

              </ul>
            </nav><!-- .nav-menu -->

            <a href="/#contact" class="get-started-btn scrollto">Contact</a>

          </div>
        </div>

      </div>
    </header><!-- End Header -->
{%endfor%}
  </body>
</html>
