{% extends 'app/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:60px;
	right:60px;
	background-color:red;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 3px 3px 3px #999;
}

.my-float{
	margin-top:22px;
}
.sec{
  float:left;
  text-align:center;
  margin-left:10%;

}
.sec1{

  text-align:center;

}
.User{
  margin-left:10%;
  color:black;
}
  </style>
</head>




<div class="User">
  <div class="sec">
        <a href="/add-meet">  <img src="{%static "images/sch.jpeg"%}" alt=""><br><p><strong>Schedule</strong></p></a>
  </div>
  <div class="sec1">
      <a href="/add-meet"><img src="{%static "images/add.jpeg"%}" alt=""><br><p><strong>Upload</strong></p></a>
  </div>


<div class="container">
  <h4>Upcoming Training</h4>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Meeting List</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Time</th>
          <th>Trainer</th>
          <th>Delete</th>

        </tr>
      </thead>
      {% for p in train%}
  {% if p %}

      <tr>
        <td> {{p.topic}}</td>

        <td>{{p.time}}</td>
        <td>{{user}}</td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-gp' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
  </tr>
      {%else%}
      <br><br><br>
      <h1>no Meeting</h1>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
<!-- add product floating button -->
<a href="/add-meet" class="float">
<i class="fa fa-plus my-float"></i>
</a>

{% endblock content %}
